<section class="min-h-min flex flex-col gap-8 pt-20 pb-16 px-4">
    <div class="md:max-w-screen-xl md:mx-auto w-full">
         <h2 class="text-6xl md:w-[58%] text-red">Iels nous font confiance</h2>
<div class="flex flex-wrap gap-8 mt-12">
        <img src="/assets/images/collaborations/Cultureghem.svg"><img src="/assets/images/collaborations/FoodWin.svg"><img src="/assets/images/collaborations/horsentier.svg"><img src="/assets/images/collaborations/ped4all.svg"><img src="/assets/images/collaborations/Vub.svg"><img src="/assets/images/collaborations/Vub.svg">
</div>
</div>
</section>
</div>