<section class="min-h-min flex flex-col gap-8 pt-32 md:pt-56 pb-32 md:pb-56 px-4">
  <div class="w-[87.5vw] max-w-[1680px] mx-auto">
    <div class="flex flex-col md:flex-row justify-between mb-8 md:mb-12">
      <h2 class="text-3xl md:text-5xl mb-4 md:mb-0">Prochains événements,<span class="font-serif-italic text-red"> toujours ouvert à tous..tes</span></h2>
      <a href="#" class="bouton secondary arrow-right"> Découvre l'agenda</a>
    </div>
    <div class="container-evenement cursor-external3">{% include "components/event_list.njk" %}</div>
  </div>
</section> 