<section class="min-h-min flex flex-col mt-32 bg-red text-black">
    <div class="w-[87.5vw] max-w-[1680px] mx-auto pt-32">
         <h2 class="text-6xl md:w-[58%]">L'année 2024 en quelques mots</h2>
         </div>
  <div class="mx-auto w-[87.5vw] max-w-[1680px]">
    <h3 class="mt-12 text-3xl mb-6">Témoignage</h3>
  </div>
    <div class="flex max-w-full justify-start flex-wrap gap-4 w-full flex-shrink-0 p-0 mb-12 items-stretch bg-black">
      <div class="carouselContainer w-full relative">
        <div class="button-container absolute right-0 mr-2 sm:-mr-4 -mt-14 sm:mt-48">
          <button class="prevBtn"><img src="/assets/images/previous-arrow.svg" alt="Previous" loading="lazy"/></button>
          <button class="nextBtn"><img src="/assets/images/next-arrow.svg" alt="Next" loading="lazy"/></button>
        </div>
        <div class="bg-red pl-custom-pl reel flex overflow-y-hidden overflow-x-auto space-x-4">
  {% for item in review %}
  <div class="card w-[26rem] items-center flex-shrink-0 flex flex-col justify-between transition-opacity duration-300 border border-solid border-black hover:border-blue pr-4 py-8 flex justify-between flex-col h-full bg-black text-white">
          <h1 class="text-xl font-sans text-white leading-relaxed text-center w-full p-8">
        "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
          </h1>
    <div class="flex items-center gap-4">
        <div class="rounded-full w-12 h-12 bg-white overflow-hidden">
            <img src="#" alt="cultureghem logo"/>
        </div>
        <div class="flex flex-col tracking-wider">
            <label class="text-white font-bold text-base">Yannick</label>
            <label class="text-white font-normal text-sm">Cultureghem</label>
        </div>
    </div>
      </div>
  {% endfor %}
</div>
      </div>
    </div>
    <div class="px-2 pb-4 flex sm:flex-row flex-col mt-12 space-y-4 sm:space-y-0 sm:space-x-4">
     {% for button in accueilStrapi.data.bouton_sur_place  %}
                <a class="max-w-fit text-base font-sans-b border border-black bg-white mix-blend-hard-light py-2.5 px-5 rounded-lg tracking-wide  hover:border-blue transition-all duration-200 ease-in-out  flex flex-row items-center" href="{{ button.lien }}" {% if button.ouvrir_nouvel_onglet %}target="_blank" rel="noopener noreferrer"{% endif %}>{% if button.svg_icon_1 %}{{ button.svg_icon_1.icon }}{% endif %}
                {{ button.titre }}</a>
              {% endfor %}
  </div>

 
</section>