<section class="px-4 md:px-8 xl:px-0 py-16 md:py-24 bg-red text-black">
  <div class="w-[87.5vw] max-w-[1680px] mx-auto flex flex-col md:flex-row gap-8 items-start md:items-center">
    <div class="w-full md:w-1/2"> 
      <h2 class="text-3xl md:text-5xl mb-8 md:mb-12 leading-tight">Tu veux discuter ou lancer un projet avec nous? On est là!</h2>
      <div class="flex flex-col gap-6">
        <div class="flex items-center gap-4">
          <img class="w-8 md:w-10 p-2" src="/assets/images/mail.svg" alt="Mail Icon">
          <p class="text-base md:text-lg">bxl@projetfeudecamp.be</p>
        </div>
        <div class="flex items-center gap-4">
          <img class="w-8 md:w-10 p-2" src="/assets/images/tel.svg" alt="Phone Icon">
          <p class="text-base md:text-lg">+32 491 14 00 86 (Hugo – Iel)</p>
        </div>
        <div class="flex items-center gap-4">
          <img class="w-8 md:w-10 p-2 rounded-full" src="/assets/images/gps.svg" alt="GPS Icon">
          <p class="text-base md:text-lg">
            <a href="https://www.openstreetmap.org/way/22734665#map=20/50.82440/4.35525&amp;layers=TN" 
               target="_blank"
               class="hover:underline">
              Sur rendez-vous à Rue Americain 11B, 1060 Saint-Gilles, Bruxelles
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <img class="w-full h-auto" alt="benevoles" src="">
    </div>
  </div>
</section>
