<section class="px-4 md:px-8 xl:px-0 h-full min-h-[70vh] flex justify-center items-center bg-black bg-opacity-50 bg-blend-overlay bg-no-repeat bg-cover">
  <div class="w-[87.5vw] max-w-[1680px] mx-auto flex flex-col justify-center items-center text-center h-full">
    <h2 class="font-serif text-4xl md:text-6xl mb-8 md:mb-12 leading-tight">Tu veux discuter ou lancer un projet avec nous? On est là!</h2>
    <div class="w-full flex flex-col md:flex-row justify-center flex-wrap gap-4 md:gap-8">
      <div class="flex items-center gap-4">
        <img class="w-8 md:w-10 p-2 brightness-0 invert" src="/assets/images/mail.svg" alt="Mail Icon">
        <p class="text-base md:text-lg">bxl@projetfeudecamp.be</p>
      </div>
      <div class="flex items-center gap-4">
        <img class="w-8 md:w-10 p-2 brightness-0 invert" src="/assets/images/tel.svg" alt="Phone Icon">
        <p class="text-base md:text-lg">+32 491 14 00 86 (Hugo – Iel)</p>
      </div>
    </div>
    <div class="w-full flex justify-center mt-4 md:mt-8">
      <div class="flex items-center gap-4">
        <img class="w-8 md:w-10 p-2 brightness-0 invert rounded-full" src="/assets/images/gps.svg" alt="GPS Icon">
        <p class="text-base md:text-lg text-center">
          <a href="https://www.openstreetmap.org/way/22734665#map=20/50.82440/4.35525&amp;layers=TN" target="_blank" class="hover:underline">
            Sur rendez-vous à Rue Americain 11B, 1060 Saint-Gilles, Bruxelles
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
