<!DOCTYPE html>
<html lang="fr">
<head>
 {% include "basehead.njk" %}
 </head>
<body x-data="{'isModalOpen': false}" x-on:keydown.escape="isModalOpen=false" class="bg-black text-white">
   <div class="bg-black lg:flex max-w-full border-b border-red fixed min-w-full ms:bg-transparent show justify-around z-50 lg:px-4">
    <nav class="w-[87.5vw] max-w-[1680px] mx-auto flex">
    <div id="logo-container" class="h-20 py-2.5 max-w-fit flex items-center">
        <a href="/fr/index.html" aria-label="Revenir à la page d'accueil">
            <img src="/assets/images/logo-red.svg" alt="Logo Projet Feu de Camp">
        </a>
    </div>

    <!-- Menu Burger et Navigation -->
    <div class="relative w-full flex items-center justify-between space-x-4">
        <!-- Burger Menu Icon (affiché sur mobile) -->
        <button @click="open = !open" class="lg:hidden p-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>

        <!-- Menu Principal avec styles inversés -->
        <div class="relative w-full flex items-center justify-end space-x-4 lg:flex hidden">
            {% if nav.navigation %}
                <ul class="flex gap-8">
                    {% for item in nav.navigation %}
                        {% if item.dropdown %}
                            <li class="group relative text-base font-sans p-3 inline-block transition-all duration-200 ease-in-out text-red hover:border-red hover:borde border border-black">
                                <a href="{{ item.url }}" class="text-base font-sans text-red">{{ item.title }}</a>
                                <div class="absolute left-0 bg-black border p-4 border-red mt-2 shadow-sm w-80 z-10 opacity-0 group-hover:opacity-100 group-hover:block hidden">
                                    <ul class="space-y-2">
                                        {% for subitem in item.dropdown %}
                                            <li>
                                                <a href="{{ subitem.url }}" class="p-4 flex items-center space-x-2 border-black border transition-all hover:border-red hover:border">
                                                    <img class="w-6 h-6" src="/assets/images/{{ subitem.icon }}" alt="{{ subitem.title }} icon" />
                                                    <div>
                                                        <div class="font-semibold text-red">{{ subitem.title }}</div>
                                                        <div class="text-sm text-red">{{ subitem.description }}</div>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ item.url }}" class="text-base font-sans p-3 inline-block relative hover:border-red hover:borde transition-all duration-200 ease-in-out text-red border-black border">{{ item.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <!-- Menu Mobile (visible uniquement si "open" est true) -->
        <div x-show="open" x-transition class="absolute top-0 left-0 p-4 w-full bg-red border-b border-black lg:hidden z-50 min-h-screen">
            <ul class="flex flex-col space-y-4 p-6 h-full overflow-y-auto">
                {% for item in nav.navigation %}
                    <li>
                        <a href="{{ item.url }}" class="text-lg font-semibold text-red p-2 block">{{ item.title }}</a>
                        {% if item.dropdown %}
                            <!-- Sous-menu pour mobile -->
                            <ul class="space-y-2 pl-4">
                                {% for subitem in item.dropdown %}
                                    <li>
                                        <a href="{{ subitem.url }}" class="text-sm text-red p-2  block">{{ subitem.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

</div>
<main>
{{ content | safe}}
</main>
<footer class="bg-red text-black pt-32">
    <div class="w-[87.5vw] max-w-[1680px] mx-auto">
        <!-- Newsletter Section -->
        <div class="mb-24">
            <h3 class="text-3xl font-serif-semi-b mb-4">Infolettre</h3>
            <p class="text-lg max-w-2xl">Suis l'aventure avec notre Infolettre – un à deux mail(s) par mois pour être tenu..e au courrant..e du Projet, d'événement à venir, articles...</p>
        </div>
        
        <!-- Main Footer Links -->
        <div class="grid grid-cols-1 md:grid-cols-5 gap-12 pb-16 border-b border-white">
            <!-- Logo Column -->
            <div class="col-span-1">
                <img src="/assets/images/logo.svg" alt="Logo Projet Feu de Camp" class="h-14">
            </div>
            
            <!-- Links Columns -->
            <div class="space-y-4">
                <h4 class="text-lg font-sans mb-6">Introduction</h4>
                <div class="flex flex-col space-y-3">
                    <a href="/index.html" class="hover:text-white transition-colors">Page d'accueil</a>
                    <a href="#" class="hover:text-white transition-colors">Agenda</a>
                    <a href="#" class="hover:text-white transition-colors">Blog</a>
                    <a href="#" class="hover:text-white transition-colors">Derniers projets</a>
                    <a href="#" class="hover:text-white transition-colors">Contact</a>
                </div>
             </div>
             
             <div class="space-y-4">
                 <h4 class="text-lg font-sans mb-6">Le Projet</h4>
                 <div class="flex flex-col space-y-3">
                     <a href="#" class="hover:text-white transition-colors">Vision</a>
                     <a href="#" class="hover:text-white transition-colors">Mission</a>
                     <a href="#" class="hover:text-white transition-colors">Valeurs</a>
                     <a href="#" class="hover:text-white transition-colors">Le collectif</a>
                     <a href="#" class="hover:text-white transition-colors">Historique</a>
                 </div>
             </div>
             
             <div class="space-y-4">
                 <h4 class="text-lg font-sans mb-6">Les Actions</h4>
                 <div class="flex flex-col space-y-3">
                     <a href="#" class="hover:text-white transition-colors">Propaganda</a>
                     <a href="#" class="hover:text-white transition-colors">Les Verre Flambés</a>
                     <a href="#" class="hover:text-wihte transition-colors">Flammèches</a>
                     <a href="#" class="hover:text-white transition-colors">Etincelles</a>
                 </div>
             </div>
             
             <div class="space-y-4">
                 <h4 class="text-lg font-sans mb-6">Information légales et contacts</h4>
                 <div class="flex flex-col space-y-3">
                     <a href="#" class="hover:text-white transition-colors">Projet Feu de Camp – 1002.519.249</a>
                     <a href="#" class="hover:text-white transition-colors">bxl@projetfeudecamp.be</a>
                     <a href="#" class="hover:text-white transition-colors">+ 32 491 14 00 86‬</a>
                     <a href="#" class="hover:text-white transition-colors">Rue Américaine 11, 1160 Saint-Gilles</a>
                 </div>
             </div>
         </div>
         
         <!-- Copyright Section -->
         <div class="py-8 flex flex-col md:flex-row justify-between items-start md:items-center">
             <div class="text-sm opacity-75">
                 <p>©2024 Projet Feu de Camp. Aucuns droits réservés, que de l'entraide.</p>
                 <p class="mt-2">Adresse légale: Rue des Echevins 59/1, 1050 Ixelles</p>
             </div>
             <div class="flex gap-6 mt-4 md:mt-0">
                 <a href="#" class="text-sm hover:text-white transition-colors">Politique de vie privée</a>
                 <a href="#" class="text-sm hover:text-white transition-colors">Conditions d'utilisations</a>
              </div>
          </div>
      </div>
  </footer>
</body>
<script>
// Déclaration de la fonction myFunction ici
function myFunction() {
  var dropdown = document.getElementById("myDropdown");
  dropdown.classList.toggle("show");

  // Changement du texte du bouton en fonction de la visibilité du dropdown
  var menuButton = document.getElementById("menuButton");
  if (dropdown.classList.contains("show")) {
    menuButton.innerHTML = "Fermer le menu";
  } else {
    menuButton.innerHTML = "Menu";
  }
}

// // Fermeture du menu déroulant si l'utilisateur clique en dehors
// window.onclick = function(event) {
//   if (!event.target.matches('.burger-menu')) {
//     var dropdowns = document.getElementsByClassName("inside-burger");
//     var i;
//     for (i = 0; i < dropdowns.length; i++) {
//       var openDropdown = dropdowns[i];
//       if (openDropdown.classList.contains('show')) {
//         openDropdown.classList.remove('show');

        // Réinitialisation du texte du bouton lors de la fermeture du menu
        var menuButton = document.getElementById("menuButton");
        menuButton.innerHTML = "Menu";
//       }
</script>


</script>

</html>