---
layout: page.njk
title: "Home - Projet Feu de Camp"
description: "Kindling connections between those who drive change and those who tell its story"
locale: en
permalink: "/en/"
header:
  bg-color: "bg-red"
  content-color: "text-black"
  surTitre: "Sur-titre optionnel"
  title: "Titre principal"
  paragraphe: "Texte d'introduction"
  image:
    description: "Texte alternatif"
    lien: "/assets/images/mon-image.jpg"
  button1:
    text: "Texte du bouton 1"
    href: "#section1"
    border: "border-red"
  button2:
    text: "Texte du bouton 2"
    href: "#section2"
    border: "border-red"
  arrowClasses: "fleche is-down mt-12"

components:
  header: true
  activities: true
  newsletter: true
  testimonials: false
  blog: false
  contact: false
---


